.main {
    background: white;
    border: 1px solid lightgray;
    display: flex;
    flex: 0 1 50px;
}

.label {
    background: white;
    border: 1px solid lightgray;
    font-size: 11px;
    color: darkgray;
}

.popupPanel {
    background: white;
    border: 1px solid lightgray;
    max-height: 400px;
}