.cocktailWidget {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.titleGroup {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
}

.headerLabel, .strengthLabel {
    display: flex;
    flex: 0 0 auto;
    color: #485859;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.strengthLabel {
    font-size: 12px;
    color: #9c9c9c;
    flex: 0 0 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

.description {
    display: flex;
    flex: 0 0 30px;
    font-size: 14px;
    font-family: 'Roboto','PT Sans',sans-serif;
    font-weight: 300;
    color: #485859;
}

.ingredientsTable {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 10px;
}

.ingredient {
    font-size: 12px;
    color: lightcoral;
}

.recipeText {
    display: flex;
    flex: 1 0 auto;
    align-self: flex-start;
    font-style: italic;
    font-size: 12px;
    margin-top: 15px;
    color: darkgray;
}

.noRecipeAvailable {
    display: flex;
    color: lightgray;
}