.topPanel {
    display: flex;
    flex: 0 1 70px;
    flex-direction: column;
    justify-content: center;
}

.workingArea {
    display: flex;
    flex: 1 1 auto;
    color: #fafafa;
}

.bottomPanel {
    display: flex;
    flex: 0 1 50px;
    box-shadow: 0 2px 10px 7px rgba(194, 194, 194, 0.6)
}

.mainLayout {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}

.leftPanel, .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.leftPanel {
    justify-content: flex-start;
    flex: 1 1 50%;
}

.rightPanel {
    flex: 1 1 25%;
}

.filterArea {
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
}

.centralPanel {
    display: flex;
    flex: 1 1 25%;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}