.tagContainer {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 70px;
}

.tagWrapper {
    /*background-color: #3760ea;*/
    background-color: white;
    display: flex;
    align-content: center;
    flex: 1 1 60px;
    height: 26px;
    border-radius: 30px;
    margin: 2px 5px 2px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid lightgray;
    min-width: 0;
    max-width: 100px;
}

.tagWrapper.selected {
    /*background-color: darkred;*/
    background-color: #b3d8e5;
}

.tagWrapper.selected:hover {
    /*background-color: #740000;*/
    background-color: #a9ccd8;
}

/*.tagWrapper:hover {*/
    /*background-color: #3559c5;*/
/*}*/

.tag {
    border-radius: 10px;
    max-height: 20px;
    font-size: 13px;
    /*font-family: "Helvetica";*/
    /*color: white;*/
    justify-content: center;
    /*color: grey;*/
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none; /*todo: remove*/
    min-width: 0;
    overflow: hidden;
}

.removeTagCross {
    font-size: 20px;
    font-weight: bold;
}

.titleContainer {
    font-size: 16px;
    color: #656565;
}

.simpleTagCloud {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}