.headerPanel {
    height: 100px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
    background-color: white;
    box-shadow: 0 3px 5px 3px rgba(194,194,194,0.6);
}

.titleLabel {
    font-size: 18px;
    color: #454545;
    display: flex;
    flex: 0 1 auto;
}