.headerPanel {
    height: 100px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
    background-color: #7d7dff;
}

.titleLabel {
    font-size: 18px;
    color: #454545;
    display: flex;
    flex: 0 1 auto;
}