.tagContainer {
  display: flex;
  flex: 1 1 auto;
}

.tagWrapper {
  background-color: #570211;
  display: flex;
  align-content: center;
}

.tag {
  border-radius: 10px;
  max-height: 20px;
  font-size: 12px;
  font-family: "Helvetica";
}

.removeTagCross {
  font-size: 20px;
  font-weight: bold;
}