.tagContainer {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.tagWrapper {
  background-color: #3760ea;
  display: flex;
  align-content: center;
  flex: 0 0 100px;
  height: 32px;
  border-radius: 30px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tagWrapper:hover {
  background-color: #3559c5;
}

.tag {
  border-radius: 10px;
  max-height: 20px;
  font-size: 14px;
  font-family: "Helvetica";
  color: white;
  flex: 0 0 auto;
  display: flex;
}

.removeTagCross {
  font-size: 20px;
  font-weight: bold;
}