.item {
    display: flex;
    flex: 1 1 150px;
    justify-content: center;
}

.menuItemsList {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0 0 0;
}

.activeLink {

}